.git
**/node_modules
build
dist
**/dist
**/server
**/*.log
**/*.tsbuildinfo
data
work
**/.env
**/.env.*
!packages/view-main/.env.web
!packages/view-lyric/.env.web
!packages/web-server/.env.web
**/admin-password.txt
**/*.sqlite
**/*.sqlite-wal
**/*.sqlite-shm
**/*.pem
**/*.key
